@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* =====RESETS===== */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/*===================GENERAL-STYLING =====================*/
.button {
  font-size: 3rem;
  border-radius: 10px;
  padding: 0.2em;
}

/* =====================GENERAL-LAYOUT======================== */
.wrapper {
  display: flex;
  justify-content: space-around;
  margin: 3em;
}
/* ***************************SPECIFIC-LAYOUT AND SPECIFIC STYLING*************************** */
.results {
  display: flex;
  justify-content: center;
}

.replay-button {
  background: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background 0.5s ease; /* Transition the background-color property */
}

.replay-button:hover {
  background: cyan;
}
